<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Hello World!</title>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<h1 sec:authentication="name">用户名</h1>

<div sec:authorize="hasRole('ROLE_ADMIN')">
    <p th:text="'ROLE_ADMIN:'+${msg.info}">ROLE_ADMIN</p>
</div>

<div sec:authorize="hasRole('ROLE_USER')">
    <p th:text="'ROLE_USER:'+${msg.info}">ROLE_USER</p>
</div>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="注销"/>
</form>
</body>
</html>

